html{
    scroll-behavior: smooth;
}

body{
    overflow-wrap: break-word;
    position: relative;
    font-family: monospace;

}

a, a:hover{
    color: unset;
}

#header{
    background: linear-gradient(0deg, rgb(0, 0, 0), #00397730), url("img/head-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
}

#about{
    color: #ffff;
}

#pic{
    overflow: hidden;
}

#pic img{
    border-radius: 100%;
    width: 250px;
}
#nav a{
    font-size: x-large;
    color: rgba(255, 255, 255, 0.41);
    display: block;
    border: 1px solid #9e9b9b;
    background: #26292d7d;
}

#nav a:hover{
    color: #000000;
    background-color: #ffff;
    text-decoration: none;
}

#nav a.active{
    background-color: #ffffff;
    color: #000000;
}

#social-links li a {
    color: #ffff;
    padding: 11px 20px 3px;
    display: block;
    font-size: xx-large;
    border-radius: 4px;
}

#social-links li a:hover{
    color: #000000;
    background-color: #ffff;
    text-decoration: none;
    
}

#content{
    min-height: 1108px;
    margin: auto;
}

#nav{
    bottom: 75px;
}

#skills, #my-work,
#contact{
    display: none;
}

#about{
    margin: auto 0px;
}

.shadow-img{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 64px 16px #000000;
    top: 0px;
    left: 0px;
}

.down-icon{
    font-size: xxx-large;
    transition: all 0.45s ease;
}

#screen{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0,0,0)), url("img/content-bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.progress{
    height: 1.9rem;
    background-color: unset;
}

.progress-bar{
    font-size: x-large;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
}

.form-control{
    background-color: unset;
    color: #e4e4e4;
}

.form-control:focus{
    color: #ffffff;
    background-color: #7575778a;
}

.k-w{
    color: #ffffff;
    font-size: 2em;
}
.k-w:hover{
    color: unset;
}

#works{
    position: relative;

}

.tab-content{
    display: none;
}

.tab-content.show {
    display: block;
}